<section class="container">

    <div *ngIf="movies$ | async as movie">
        <div class="movie-content" >
            <div class="movie-image" fxFlex.gt-lg="25">
                <img src="{{posterPath + movie.poster_path}}">
            </div>
            <div class="movie-description" fxFlex.gt-lg="75">
              <div class="movie-title-subtitle">
                <h1>{{ movie.title }}</h1>
                <h2>{{movie.tagline}}</h2>
              </div>
              <div class="description">
                <p>
                  <span class="bold">
                    <b>Gênero</b>: </span>
                  <span *ngFor="let gen of movie.genres; let i=index">
                    {{gen.name}}{{i ? '':', '}}
                  </span>
                </p>
                <p>
                  <strong>Ano de lançamento: </strong>
                  {{movie.release_date | date: 'dd/MM/yyyy'}}
                </p>
                <p>
                  <strong>Título original: </strong>
                  {{movie.original_title}}
                </p>
                <p>
                  <strong>Sinopse: </strong>
                  {{movie.overview}}
                </p>
              </div>
            </div>
        </div>
        <!--{{movie | json}}-->

    </div>
</section>
