<header>
    <mat-toolbar>
        <section class="container main-nav">
            <a routerLink="/">
                <span >Movies</span>
            </a>
            <span class="example-spacer"></span>
            <mat-form-field appearance="legacy">
                <mat-label>Pesquise pelo seu filme</mat-label>
                <input type="text" matInput #searchMovie placeholder="Pesquise pelo seu filme..." autocomplete="off" [(ngModel)]="movieSearch">
            </mat-form-field>
        </section>
    </mat-toolbar>
</header>
<app-result-movie-search [movieSearchResult]="moviesListSearch" [titleSearch]="searchMovie.value">

</app-result-movie-search>