/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
section.main-nav{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.container{
    max-width:1920px;
    margin: 0 auto;
}
.movie-card{
    width: 100%;
    margin: 10px !important;
    cursor: pointer;
}
